.restoranCardBox {
  background-color: rgb(255, 255, 255);
  width: 290px;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 35px;
  transition: 0.4s;
  cursor: pointer;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  background: #f4f4f4;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.restoranCardBox:hover {
  background-color: #f1eeee;
}

.restoranImg {
  padding-top: 12px;
  width: 260px;
  height: 210px;
  border-radius: 35px;
  filter: blur(0.6px);
}

.restoranInformacije {
  display: flex;
  flex-direction: column;
}

.restoranCardInfoBox {
  padding-top: 15px;
  display: flex;
  font-size: 20px;
}

.restoranCardIcon {
  width: 40px;
}

.restoranCardAdresaBox {
  display: flex;
  font-size: 16px;
  gap: 5px;
  padding-bottom: 17px;
}

.restoranCardInBox {
  position: relative;
}

.restoranCardLogoImg {
  background-color: white;
  margin-top: 10px;
  width: 90px;
  height: 80px;
  border-radius: 25px;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  position: absolute;
  top: 50%; /* position the top  edge of the element at the middle of the parent */
  left: 50%; /* position the left edge of the element at the middle of the parent */

  transform: translate(-50%, -50%);
}
